<h1>Resources</h1>
<ul>
<li><a href="https://medium.com/@katecross_88138/please-join-the-ucu-strike-action-right-now-1a86760171fc">Please join the UCU strike action right now</a> - Kate Cross has very clear counter-arguments against inaction</li>
<li>Video: <a href="https://www.youtube.com/watch?v=XGR1H1mu1qQ">Sam Marsh explains the pensions dispute</a></li>
<li>Video: <a hre="https://www.youtube.com/watch?v=SInMwv5m9Vg">Robyn Orfitelli explains the pensions dispute</a>/</li>
<li>Video: <a href="https://www.youtube.com/watch?v=cnVe-aXan8Y">Students support the UCU strike</a></li>
  <li><a href="http://idiolect.org.uk/notes/?p=6285">Pressure Vessels</a> - data on a mental health crisis among University workers</li>
  <li><a href="https://medium.com/ussbriefs">USS briefs</a></li>
  <li><a href="https://tomstafford.github.io/ucu-strike/">2018 Strike pages</a></li>
  <li>Wikipedia: <a href="https://en.wikipedia.org/wiki/2018_UK_higher_education_strike">2018 UK higher education strike</a></li>
<li><a href="http://idiolect.org.uk/notes/?p=6257">
Collective intelligence in twitter discussions
</a></li>
</ul>
